{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>beRADung</title>
	    <link rel="icon" type="image/x-icon" href="{% static 'images/Logo2.ico' %}">
     <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/-->
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/main1.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/main.css' %}"/>
    <link rel="stylesheet" href="https://pagecdn.io/lib/easyfonts/bruno-ace.css"/>
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
               <a class="navbar-brand mr-4" href="/"><span>be<span style="color:#b82f2f">RAD<span style="color:#ffffff">ung</span></span></span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="/home">Home</a>
                        <a class="nav-item nav-link" href="/electric">beRADung</a>
                        <a class="nav-item nav-link" href="/kontakt">Kontakt</a>
                        <a class="nav-item nav-link" href="/bewertung">Gib uns Feedback!</a>
                    </div>
            <!-- Navbar Right Side -->
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
            <div class="content-section">
              <p>Beantworte die Fragen, so dass wir dir dein perfektes Fahrrad vorschlagen können. Rechts neben den Fragen siehst du eine Auflistung deiner bisher gegebenen Antworten. Viel Spaß.<p/>
          </div>
          </br>
          </br>
          </br>
          </br>
        <div class="col-md-8">
            <div class="content-section">
            <h3>Frage 3:</h3>
            </br>
            <p align="center"><b>Möchtest du mit deinem Fahrrad auch Sprünge machen oder auf dem Boden bleiben</b><p/>
            <table style="width:35%" cellpadding="25" align="center">
                <tr>
                    <td></td>
                    <td align="center">
                        <form action="sprung/" method="post">{% csrf_token %}
                            <input type="image" src="{% static 'images/jumping.png' %}" width="150" height="100" name="falt" id="falt" value="faltbar"/>
                            <label for="falt">Sprünge</label>
                        </form>
                    </td>
                    <td align="center">
                        <form action="normal/" method="post">{% csrf_token %}
                            <input type="image" src="{% static 'images/ground.png' %}" width="150" height="100" name="normal" id="normal" value="normal"/>
                            <label for="normal">Auf dem Boden bleiben</label>
                        </form>
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
        </div>
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Hier siehst du deine Antworten:</h3>
            <p class='text-muted'>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Deine Antwort auf Frage 1 war:</li>
                <li class="list-group-item list-group-item-light"><img src="{% static 'images/bizeps.png' %}" width="150" height="100" alt="ebike"></li>
                <li class="list-group-item list-group-item-light">Eigene Muskelkraft</li>
              <li class="list-group-item list-group-item-light">Deine Antwort auf Frage 2 war:</li>
                <li class="list-group-item list-group-item-light"><img src="{% static 'images/mountain-biking.jpg' %}" width="150" height="100" alt="Road"></li>
                <li class="list-group-item list-group-item-light">Berge</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>