{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5VV9PHH');</script>
<!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GHV5EWPYKH"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-184280182-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-184280182-1');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>beRADung</title>
	    <link rel="icon" type="image/x-icon" href="{% static 'images/Logo2.ico' %}">
     <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/-->
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/main1.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/main.css' %}"/>
    <link rel="stylesheet" href="https://pagecdn.io/lib/easyfonts/bruno-ace.css"/>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5VV9PHH" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
               <a class="navbar-brand mr-4" href="/"><span>be<span style="color:#b82f2f">RAD<span style="color:#ffffff">ung</span></span></span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="/home">Home</a>
                        <a class="nav-item nav-link" href="/electric">beRADung</a>
                        <a class="nav-item nav-link" href="/kontakt">Kontakt</a>
                        <a class="nav-item nav-link" href="/bewertung">Gib uns Feedback!</a>
                    </div>
            <!-- Navbar Right Side -->
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
          </br>
          </br>
        <div class="col-md-8">
                        <div class="content-section">
            <p>Wenn du Unterstützung möchtest, holst du dir am besten ein Pedelec. Das ist ein Fahrrad mit Unterstützung eines Elektromotors.<p/>
          </br>
          <p>Wähle den Fahrradtyp aus und gelange zum Onlineshop von Bad Bikes.<p/>
            <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a target="_blank" href="https://badbikes-online.de/epages/d006b20b-4aed-4f31-a252-c39c757446d7.sf/de_DE/?ObjectPath=/Shops/d006b20b-4aed-4f31-a252-c39c757446d7/Categories/%22Elektro%20Fahrr%C3%A4der/Pedelec/eBike%22"><span style="color:#b82f2f">Pedelec</span></a></li>
            </ul>
            </br>
            </br>
            <div class="col-md-12">
                <p>Diese und weitere Bikes findest du bei <a target="_blank" href="https://badbikes-online.de/"><span style="color:#b82f2f">Bad Bikes</span></a><p/>
          </div>
        </div>
        </div>
          </br>
        <div class="container">
        <div class="col-md-10">
              <div class="content section">
                  <p>Bitte nimm an unserer <a href="https://www.umfrageonline.com/s/beRADung"><span style="color:#b82f2f">Umfrage</span></a> teil, damit wir unser Startup strategisch analysieren und verbessern können.</p>
              </div>
        </div>
        </div>
        </br>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Hier siehst du deine Antworten:</h3>
            <p class='text-muted'>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Deine Antwort auf Frage 1 war:</li>
                <li class="list-group-item list-group-item-light"><img src="{% static 'images/akku.png' %}" width="150" height="100" alt="ebike"></li>
                <li class="list-group-item list-group-item-light">Unterstützung durch Motor</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>