{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>BeRADung</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}"/>
    <link rel="stylesheet" href="https://pagecdn.io/lib/easyfonts/bruno-ace.css"/>
</head>
<body>
<header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="/">BeRADung</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="/home">Home</a>
                        <a class="nav-item nav-link" href="/bikes">BeRADung</a>
                        <a class="nav-item nav-link" href="/todo">Todo List</a>
                    </div>
            <!-- Navbar Right Side -->
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-6">
            <p><b>Feel welcome and cozy with this images</b></p>
            <img src="{% static 'images/tm-bg-section-4.jpg' %}" width="600" height="400" alt="Cozy image">
            </br>
            </br>
            <p><big><b>Lerne das BeRADung-Team kennen.</b></big></p>

        </div>
            <table style="width:100%">
                <tr>
                    <td>
                        <div class="col-md-10">
                            <div class="content-section">
                                <h3>Felix</h3>
                                <p class='text-muted'>Felix is our CTO
                                <ul class="list-group">
                                <li class="list-group-item list-group-item-light">Text über Felix... fdlkgjfd gdfjgld fgj/nn klfjg fdlökjg lkdfjg lkkdfjg lkfdjg sdlfkg sdflökjg löfdks jg  fldkjgdflkööjg ldkfgj fjg<.</li>
                            </ul>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="col-md-10">
                            <div class="content-section">
                                <h3>Frauke</h3>
                                <p class='text-muted'>Frauke is our Marketing Chief
                                <ul class="list-group">
                                <li class="list-group-item list-group-item-light">Text über Frauke... fdlkgjfd gdfjgld fgj/nn klfjg fdlökjg lkdfjg lkkdfjg lkfdjg sdlfkg sdflökjg löfdks jg  fldkjgdflkööjg ldkfgj fjg<</li>
                            </ul>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="col-md-10">
                            <div class="content-section">
                                <h3>Jonas</h3>
                                <p class='text-muted'>Jonas is our Chief of Finance
                                <ul class="list-group">
                                <li class="list-group-item list-group-item-light">Text über Jonas... fdlkgjfd gdfjgld fgj/nn klfjg fdlökjg lkdfjg lkkdfjg lkfdjg sdlfkg sdflökjg löfdks jg  fldkjgdflkööjg ldkfgj fjg</li>
                            </ul>
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="col-md-10">
                            <div class="content-section">
                                <h3>Marco</h3>
                                <p class='text-muted'>Marco is our CIO
                                <ul class="list-group">
                                <li class="list-group-item list-group-item-light">Text über Marco...</li>
                            </ul>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="col-md-10">
                            <div class="content-section">
                                <h3>Viola</h3>
                                <p class='text-muted'>Jonas is our Chief of Design
                                <ul class="list-group">
                                <li class="list-group-item list-group-item-light">Text über Viola...</li>
                            </ul>
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
      </div>
    </main>
</body>
</html>