{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>beRADung</title>
     <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
</head>
<body>
<div class="page-header">
    <h1><a href="/">Willkommen beim der be<b>RAD</b>ung</a></h1>
</div>
</br>
<img src="{% static 'images/fahrraeder.jpg' %}" width="1019" height="571" alt="Fahrräder">
</br>
<p >Wir können dir helfen!</p>
<p >Wir, das sind Frauke, Viola, Jonas, Marco & Felix von be<b>RAD</b>ung, ein junges Startup aus der Smart Startup Garage der Hochschule Harz.</p>
<p>Unsere Vison ist es, Leute beim Online-Kauf wie im Geschäft zu beraten und das optimale Produkt für sie zu finden!</p>
<p> Mit be<b>RAD</b> findest du das passende Fahrrad für dich!</p>
</br>
</br>
<!--
<form action="/todo/" method="post">{% csrf_token %}
    <label for="todo">Go to your ToDo List:</label>
    <input type="submit" name="todo" id="todo" value="Todo-List"/>
</form>
-->
</br>
<form action="/products/" method="post">{% csrf_token %}
    <label for="rad">Mit nur einem Klick geht es los!:</label>
    <input type="image" src="{% static 'images/bikerad.JPG' %}" width="60" height="40" name="rad" id="rad" value="Radvisory"/>
</form>
<!--
<form action="/about/" method="post">{% csrf_token %}
    <label for="about">Go to about:</label>
    <input type="image" src="{% static 'images/copy.JPG' %}" width="60" height="40" name="rad" id="rad" value="Radvisory"/>
</form>
-->

</body>
</html>