{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Radvisory</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
</head>
<body>
<div class="page-header">
    <h1><a href="/">This is the Radvisory</a></h1>
</div>

<p>Where do you want to ride your bike?<p/>
<table style="width:35%">
  <tr>
    <th><img src="{% static 'images/road.JPG' %}" width="150" height="100" alt="Road"></th>
    <th><img src="{% static 'images/mountain-biking.JPG' %}" width="150" height="100" alt="Mountain"></th>
    <th><img src="{% static 'images/trees.JPG' %}" width="150" height="100" alt="Forrest"></th>
      <th><img src="{% static 'images/traffic.JPG' %}" width="150" height="100" alt="City"></th>
    </tr>
    <tr>
    <th>Road</th>
    <th>Mountain</th>
    <th>Forrest</th>
      <th>City</th>
  </tr>

</table>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<!--
<form action="/todo/" method="post">{% csrf_token %}
    <label for="todo">Go to your ToDo List:</label>
    <input type="submit" name="todo" id="todo" value="Todo-List"/>
</form>
-->
<form action="/home/" method="post">{% csrf_token %}
    <label for="home">Return to the Homepage:</label>
    <input type="submit" name="home" id="home" value="Home"/>
</form>
</body>
</html>