{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Radvisory</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/test.css' %}"/>
    <link rel="stylesheet" href="https://pagecdn.io/lib/easyfonts/bruno-ace.css"/>
</head>
<body>
<header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="/">BeRADung</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="/home">Home</a>
                        <a class="nav-item nav-link" href="/products">BeRADung</a>
                        <a class="nav-item nav-link" href="/kontakt">Kontakt</a>
                        <a class="nav-item nav-link" href="/bewertung">Gib uns Feedback!</a>
                    </div>
            <!-- Navbar Right Side -->
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
            <p>Hier die bisherigen Bewertungen</p>
          <ul>
              {% for beratung_item in all_items %}
              <li>{{ beratung_item.content }}
                  <form action="/deleteberatung/{{beratung_item.id}}/"
                  style="display: inline;"
                  method="post">{% csrf_token %}
                <input type="submit" value="Delete"/>
                  </form>
              </li>
              {% endfor %}
          </ul>
            <form action="/addberatung/" method="post">{% csrf_token %}
                <input type="text" name="content"/>
                <input type="submit" value="Add"/>
            </form>
        </div>
      </div>
    </main>


</body>
</html>